tsllog/App_WebReferences/stockApi/whedi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateDoIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="doNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDoInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDoInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDoOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="doNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDoOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDoOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateStockIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateStockInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateStockInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateStockOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateStockOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateStockOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStockIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStockInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStockInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStockOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStockOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStockOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateDoInSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDoIn" />
  </wsdl:message>
  <wsdl:message name="CreateDoInSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDoInResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDoOutSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDoOut" />
  </wsdl:message>
  <wsdl:message name="CreateDoOutSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDoOutResponse" />
  </wsdl:message>
  <wsdl:message name="CreateStockInSoapIn">
    <wsdl:part name="parameters" element="tns:CreateStockIn" />
  </wsdl:message>
  <wsdl:message name="CreateStockInSoapOut">
    <wsdl:part name="parameters" element="tns:CreateStockInResponse" />
  </wsdl:message>
  <wsdl:message name="CreateStockOutSoapIn">
    <wsdl:part name="parameters" element="tns:CreateStockOut" />
  </wsdl:message>
  <wsdl:message name="CreateStockOutSoapOut">
    <wsdl:part name="parameters" element="tns:CreateStockOutResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStockInSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStockIn" />
  </wsdl:message>
  <wsdl:message name="UpdateStockInSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStockInResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStockOutSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStockOut" />
  </wsdl:message>
  <wsdl:message name="UpdateStockOutSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStockOutResponse" />
  </wsdl:message>
  <wsdl:portType name="stockSoap">
    <wsdl:operation name="CreateDoIn">
      <wsdl:input message="tns:CreateDoInSoapIn" />
      <wsdl:output message="tns:CreateDoInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDoOut">
      <wsdl:input message="tns:CreateDoOutSoapIn" />
      <wsdl:output message="tns:CreateDoOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateStockIn">
      <wsdl:input message="tns:CreateStockInSoapIn" />
      <wsdl:output message="tns:CreateStockInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateStockOut">
      <wsdl:input message="tns:CreateStockOutSoapIn" />
      <wsdl:output message="tns:CreateStockOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStockIn">
      <wsdl:input message="tns:UpdateStockInSoapIn" />
      <wsdl:output message="tns:UpdateStockInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStockOut">
      <wsdl:input message="tns:UpdateStockOutSoapIn" />
      <wsdl:output message="tns:UpdateStockOutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="stockSoap" type="tns:stockSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDoIn">
      <soap:operation soapAction="http://tempuri.org/CreateDoIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDoOut">
      <soap:operation soapAction="http://tempuri.org/CreateDoOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStockIn">
      <soap:operation soapAction="http://tempuri.org/CreateStockIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStockOut">
      <soap:operation soapAction="http://tempuri.org/CreateStockOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockIn">
      <soap:operation soapAction="http://tempuri.org/UpdateStockIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockOut">
      <soap:operation soapAction="http://tempuri.org/UpdateStockOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="stockSoap12" type="tns:stockSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDoIn">
      <soap12:operation soapAction="http://tempuri.org/CreateDoIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDoOut">
      <soap12:operation soapAction="http://tempuri.org/CreateDoOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStockIn">
      <soap12:operation soapAction="http://tempuri.org/CreateStockIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStockOut">
      <soap12:operation soapAction="http://tempuri.org/CreateStockOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockIn">
      <soap12:operation soapAction="http://tempuri.org/UpdateStockIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockOut">
      <soap12:operation soapAction="http://tempuri.org/UpdateStockOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="stock">
    <wsdl:port name="stockSoap" binding="tns:stockSoap">
      <soap:address location="http://localhost:58385/edi/whedi.asmx" />
    </wsdl:port>
    <wsdl:port name="stockSoap12" binding="tns:stockSoap12">
      <soap12:address location="http://localhost:58385/edi/whedi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>